include header

.container-link
  .link-intro
    a Home 
    i.fas.fa-angle-right
    a.cl-green Về chúng tôi 
.container__about-us
  h2.about-us__tit VỀ CHÚNG TÔI
  .about-us__all
    img.about-us__left(src='../Frgia-Proj1-Madala/img/home/about-us.png')
    .about-us__right
      .about-us__right--all
        p.header-logo
          span M
          | andala
        h3.about-us__tit GIỚI THIỆU CHUNG VỀ MÝ PHẨM HANDMADE MANLADA
        p.about-us__tit--select
          | Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm
          | chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất,
          | hãng Rohto.Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức
          | hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto.
        p.about-us__right__more Xem thêm


include footer
