include header

.container-link
  .link-intro
    a Home 
    i.fas.fa-angle-right
    a.cl-green Tài khoản 
.container-account
  h2 TÀI KHOẢN
  .account__all
    .account__table
      table.table
        thead
          tr
            th Order
            th Date
            th Tình trạng thang toán
            th Tổng
            th Nợ
        tbody
          tr
            td #106
            td  May3 , 2013
            td Đã thanh toán
            td
              | 345.000
              sup đ
            td 0
          tr
            td #106
            td  May3 , 2013
            td Đã thanh toán
            td
              | 345.000
              sup đ
            td 0
          tr
            td #106
            td  May3 , 2013
            td Đã thanh toán
            td
              | 345.000
              sup đ
            td 0
          tr
            td #106
            td  May3 , 2013
            td Đã thanh toán
            td
              | 345.000
              sup đ
            td 0
          tr
            td #106
            td  May3 , 2013
            td Đã thanh toán
            td
              | 345.000
              sup đ
            td 0
          tr
            td #106
            td  May3 , 2013
            td Đã thanh toán
            td
              | 345.000
              sup đ
            td 0
    .account-del
      p.account-del__tit Chi tiết tài khoản
      .account-del__body
        p.account-del__body__name
          i.fa.fa-user
          span
            | GiangLe 
            br
          | Leanhgiang@gmai.com
        p.account-detail__body__address
          i.fas.fa-map-marker-alt
          | Tòa nhà Hà Nội group 442 Đội Cấn, Ba Đình, Hà
          |               Nội
        p.account-detail__body__phone
          i.fa.fa-phone
          | (04)141412


include footer
