include header

.container-link
  .link-intro
    a Home 
    i.fas.fa-angle-right
    a Sản phẩm
    i.fas.fa-angle-right
    a.cl-green Trang sức
    i.fas.fa-angle-right
    a.cl-green Lắc tay
.container__detail-product
  .detail-img
    .detail-img__list
      img.detail__arrow(src='../Frgia-Proj1-Madala/img/home/03_Detail_03.jpg')
      img(src='../Frgia-Proj1-Madala/img/home/Layer 80.jpg')
      img(src='../Frgia-Proj1-Madala/img/home/Layer 82.jpg')
      img(src='../Frgia-Proj1-Madala/img/home/Layer 83.jpg')
      img(src='../Frgia-Proj1-Madala/img/home/Layer 84.jpg')
      img.detail__arrowed(src='../Frgia-Proj1-Madala/img/home/03_Detail_07.jpg')
    img.detail-img__product(src='../Frgia-Proj1-Madala/img/home/Layer 79.jpg')
  .detail-descript
    h5.detail-descript__name Lắc tay TyFFanny xu hướng mới nhất
    p.detail-descript__code Tyffancy ms 3201
    p.detail-descript__price
      | 955.000$
      span.detail-description__price-old  999.000$
    p.detail-descript__txt
      | Không thể phủ nhận, thời trang và phong cách chính là “tuyên ngôn” không lời mạnh mẽ nhất của mỗi người phụ nữ. Do đó, việc mua sắm thời trang trở thành niềm vui, và có khi là nguồn cảm hứng vô tận để phái đẹp sống vui, sống đẹp hơn trong mắt nửa còn lại của thế giới. Để F5 tủ đồ của mình trước những xu hướng ngày một đa dạng hơn trong thế giới thời trang, nhiều chị em không ngần ngại chi tiêu “mạnh tay” để sở hữu những món đồ yêu thích.
    form.detail-descript__form
      div
        label MÀU SẮC
        select
          option  Màu bạc
      .detail-descript__form--select
        label Size
        select
          option 12
      .prod__detail__btn
        button MUA HÀNG
        button.icons__select
          i.fa.fa-heart
        button
          i.fa.fa-refresh
    .detail-descript__social
      .social--txt
        p
          | Shopping & 
          span Returns
      .social--iconsl
        button.cl-white
          i.fa.fa-facebook
          |  like
        button.cl-grey
          i.fa.fa-twitter.cl_blue-sky
          |  Twitter
        button.cl-reded
          i.fa.fa-google
          | +1
        button.cl-white
          i.fa.fa-linkedin
          | Share
        button.cl-red
          i.fa.fa-pinterest
          | Pin it
.container-more__detail
  .more-detail
    .descript-prod
      .descript-head
        p.descript-head--seleted Đặc điểm nổi bật
        p Thông tin sản phẩm
        p Đánh giá
      .descript-body
        .item
          .item__tit--txt
            p.descript-body__tit
              span.tit__select THE MARK
              |  OF A LEGEND
            p.descript-body__txt
              | Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
          img.descript-body__img(src='../Frgia-Proj1-Madala/img/home/Layer 87.jpg')
        .item
          img.descript-body__img(src='../Frgia-Proj1-Madala/img/home/Layer 86.jpg')
          .item__tit--txt2
            p.descript-body__tit2
              span.tit__select2 THE MARK
              | OF A LEGEND
            p.descript-body__txt
              | Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
        .item3
          .item__tit--txt3
            p.descript-body__tit3
              span.tit__select3 THE MARK
              |  OF A LEGEND
            p.descript-body__txt3
              | Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
          img.descript-body__img(src='../Frgia-Proj1-Madala/img/home/Layer 85 copy.jpg')
        .item
          img.descript-body__imged(src='../Frgia-Proj1-Madala/img/home/Layer 87.jpg')
          .item__tit--txt2
            p.descript-body__tit4
              span.tit__select2 THE MARK
              | OF A LEGEND
            p.descript-body__txt
              | Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
    .sibar-detail
      .prod-gd
        h3.prod-gd__header2 Sản phẩm bán chạy
        .prod-gd__item
          img.prod-gd__item__img(src='../Frgia-Proj1-Madala/img/home/Layer 31 copy.jpg')
          .prod-gd__item__description
            p Mỹ phẩm châu âu
            p
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              span (4 lượt mua)
            p.price__select 35.000$
        .prod-gd__item
          img.prod-gd__item__img(src='../Frgia-Proj1-Madala/img/home/Layer 31 copy.jpg')
          .prod-gd__item__description
            p Mỹ phẩm châu âu
            p
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              span (4 lượt mua)
            p.price__select 35.000$
        .prod-gd__item
          img.prod-gd__item__img(src='../Frgia-Proj1-Madala/img/home/Layer 31 copy.jpg')
          .prod-gd__item__description
            p Mỹ phẩm châu âu
            p
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              span (4 lượt mua)
            p.price__select 35.000$
        .prod-gd__item
          img.prod-gd__item__img(src='../Frgia-Proj1-Madala/img/home/Layer 31 copy.jpg')
          .prod-gd__item__description
            p Mỹ phẩm châu âu
            p
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              span (4 lượt mua)
            p.price__select 35.000$
        .prod-gd__item
          img.prod-gd__item__img(src='../Frgia-Proj1-Madala/img/home/Layer 31 copy.jpg')
          .prod-gd__item__description
            p Mỹ phẩm châu âu
            p
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              span (4 lượt mua)
            p.price__select 35.000$
      .prod-gd
        h3.prod-gd__header2 Sản phẩm Mua Nhiều
        .prod-gd__item
          img.prod-gd__item__img(src='../Frgia-Proj1-Madala/img/home/Layer 31 copy.jpg')
          .prod-gd__item__description
            p Mỹ phẩm châu âu
            p
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              span (4 lượt mua)
            p 35.000đ
        .prod-gd__item
          img.prod-gd__item__img(src='../Frgia-Proj1-Madala/img/home/Layer 31 copy.jpg')
          .prod-gd__item__description
            p Mỹ phẩm châu âu
            p
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              span (4 lượt mua)
            p.price__select 35.000$
        .prod-gd__item
          img.prod-gd__item__img(src='../Frgia-Proj1-Madala/img/home/Layer 31 copy.jpg')
          .prod-gd__item__description
            p Mỹ phẩm châu âu
            p
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              span (4 lượt mua)
            p.price__select 35.000$
        .prod-gd__item
          img.prod-gd__item__img(src='../Frgia-Proj1-Madala/img/home/Layer 31 copy.jpg')
          .prod-gd__item__description
            p Mỹ phẩm châu âu
            p
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              span (4 lượt mua)
            p 35.000đ
        .prod-gd__item
          img.prod-gd__item__img(src='../Frgia-Proj1-Madala/img/home/Layer 31 copy.jpg')
          .prod-gd__item__description
            p Mỹ phẩm châu âu
            p
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              i.fa.fa-heart
              span (4 lượt mua)
            p 35.000đ



include footer
