footer.footer
  .container-footer
    .footer__all
      .footer__item1
        h2.footer__item__header Liên Hệ với chúng tôi
        p
          i.fas.fa-map-marker-alt
          | Tầng 4, Tòa nhà Hanoi Group Số 442 Đội Cấn,
          br
          | P. Cống Vị, Q. Ba Đình, Hà
          |             Nội
        p
          i.fas.fa-phone-volume
          | (04) 6674 2332
          i.fas.fa-phone-volume.select--ic
          | (04) 3786 8904
        p.cl-green
          i.fas.fa-phone-volume
          span.cl_grey (08) 6680 9686
          i.fas.fa-mail-bulk.select--ic
          | Support@bizweb.vn
      .footer__item2
        .footer__item2--clom1
          h2.footer__item__header Chuyển hàng
          p Mua sắm trực tuyến
          p.cl-green Đến từ chúng tôi gửi đến
          p Chính sách vận chuyển
          p Vận chuyển thông tin
        .footer__item2--clom2
          h2.footer__item__header Hỗ trợ
          p Câu chuyện của chúng ta
          p Thanh toán an toàn
          p Tùy chọn Vận Chuyển
          p Chính sách vận chuyển
        .footer__item2--clom3
          h2.footer__item__header Thông tin
          p Về chúng tôi
          p Điều khoản & điều kiện
          p Chính sách riêng tư
          p Đơn đặt hàng và Returns
        .footer__item2--clom4
          h2.footer__item__header My account
          p Xem Giỏ hàng
          p Sản phẩm yêu thích
          p Kiểm tra
          p Theo dõi đặt hàng của tôi
    .footer__above
      .footer__above--left
        p © Copyright 2008-2014 DKT Technology JSC
      .footer__above--right
        img(src='../Frgia-Proj1-Madala/img/home/01_Home_01_47.jpg')
        img(src='../Frgia-Proj1-Madala/img/home/01_Home_01_49.jpg')
        img(src='../Frgia-Proj1-Madala/img/home/01_Home_01_51.jpg')
        img(src='../Frgia-Proj1-Madala/img/home/01_Home_01_53.jpg')
