include header

section#background.contact
section.container-Lh
    .Lh
        .Lh__item
            p
                i.fa.fa-plane
            p Miễn phí vận chuyển
        .Lh__item
            p
                i.fa.fa-gift
            p Nhận ngay quà tặng trị giá 350.000đ
        .Lh__item__right
            p
                i.fa.fa-star
            p Giảm 30% cho đơn hàng trên 5.000.000đ

section.cb__cbOne
  .container_cb
    .cb__all
      .img__left
        img.img__left--img1(src='../Frgia-Proj1-Madala/img/home/sp-1.png', alt='')
        img.img__left--img2(src='../Frgia-Proj1-Madala/img/home/Shape 10.png', alt='')
        img.img__left--img3(src='../Frgia-Proj1-Madala/img/home/Shape 10 copy.png', alt='')
        img.img__left--img4(src='../Frgia-Proj1-Madala/img/home/01_Home_07.jpg', alt='')
      img.img__left--img5(src='../Frgia-Proj1-Madala/img/home/01_Home_04.jpg', alt='')
section.cb__cbTwo
  .container_cb
    .cb__all
      img.img__right--img6(src='../Frgia-Proj1-Madala/img/home/tra.png', alt='')
      .img__right
        img.img__right--img7(src='../Frgia-Proj1-Madala/img/home/Shape 10 copy 2.png', alt='')
        img.img__right--img8(src='../Frgia-Proj1-Madala/img/home/01_Home_11.jpg', alt='')
        img.img__right--img9(src='../Frgia-Proj1-Madala/img/home/01_Home_15.jpg', alt='')
        img.img__right--img10(src='../Frgia-Proj1-Madala/img/home/daisy.png', alt='')

section.team
    .container_gt   
        .gt__all
            img.gt__avatar(src='../Frgia-Proj1-Madala/img/home/img-tron.png')
            .gt__descript
                p.gt__descript__txt
                    span “
                    |   Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto
                    span  ”
                p.gt__descript__pos TutiLe _
                    span _ Giám đốc phát triển sản phẩm
                i.fas.fa-square
                i.far.fa-square
                i.far.fa-square
            img.team__img__intro(src="../Frgia-Proj1-Madala/img/home/flowers.png")

section.list-prod
  .list-prod__all
    p.list-prod__all--item Sản phẩm mới
    p.list-prod__all--item--selected Sản phẩm bán chạy
    p.list-prod__all--item Sản phẩm đặc biệt
  .list-prod__img
    img(src='../Frgia-Proj1-Madala/img/home/01_Home_44.jpg', alt='')
  .list-prod__type
    p.list-prod__type--tit Mỹ phẩm
    p.list-prod__type--tit Chăm sóc da
    p.list-prod__type--tit Dành cho tóc
    p.list-prod__type--tit Nước hoa
    p.list-prod__type--tit Trang sức
    p.list-prod__type--tit Quà tặng
  .prod__grid
    .prod__grid__all--one
      img.prod__img5(src='../Frgia-Proj1-Madala/img/home/Product copy 10.png')
      .prod__detail__select1
        .prod_detail__type1 TYFFTNY
        .prod__detail__name Mỹ phẩm châu Âu
        p.under1 _____
        // <img src="../Frgia-Proj1-Madala/img/home/Shape 16 2.png">
        .prod__detail__price
          p.price__tit1 355000$
    img.arrow_left(src='../Frgia-Proj1-Madala/img/home/arrow_left.jpg')
    .prod__grid__all--four
      img.prod__img(src='../Frgia-Proj1-Madala/img/home/01_Home_35.jpg')
      .prod__detail__select2
        .prod__detail__type DEBORA
        .prod__detail__name Mỹ phẩm châu Âu
        p.under2 _____
        // <img src="../Frgia-Proj1-Madala/img/home/Shape 16 2.png">
        .prod__detail__price
          p.price__tit2 355000$
    // product: is selected
    .prod__grid__all--three
      img(src='../Frgia-Proj1-Madala/img/home/01_Home_32.jpg')
      .prod__detail__select3
        .prod__detail__type HOME
        .prod__detail__name Mỹ phẩm châu Âu
        p.under3 _____
        // <img src="../Frgia-Proj1-Madala/img/home/Shape 16 2.png">
        .prod__detail__price
          .price__all
            p.price__tit 355000$
            p.pri__tit--select 450000$
        .prod__detail__button
          button MUA HÀNG
          button.icons__select
            i.fa.fa-heart
          button
            i.fa.fa-refresh
    .prod__grid__all--five
      img.prod__img(src='../Frgia-Proj1-Madala/img/home/01_Home_38.jpg')
      .prod__detail__select4
        .prod__detail__type5 SARVON
        .prod__detail__name Mỹ phẩm châu Âu
        p.under4 _____
        // <img src="../Frgia-Proj1-Madala/img/home/Shape 16 2.png">
        .prod__detail__price
          p.price__tit 355000$
    img.arrow_right(src='../Frgia-Proj1-Madala/img/home/arrow-right.png')
    .prod__grid__all--two
      img.prod__img5(src='../Frgia-Proj1-Madala/img/home/Product copy 4.png')
      .prod__detail__select5
        .prod__detail__type5 OHUI
        .prod__detail__name Mỹ phẩm châu Âu
        p.under5 _____
        // <img src="../Frgia-Proj1-Madala/img/home/Shape 16 2.png">
        .prod__detail__price
          p.price__tit5 355000$
          
section.social
  .header-socials
    ul.socials
      li.socials-item1.fb-icon
        a.select__fb(href='')
          i.fa.fa-facebook
          | FACEBOOK
      li.socials-item.tw-icon
        a.select(href='')
          i.fab.fa-twitter
          | TWITTER
      li.socials-item.inst-icon
        a.select(href='')
          i.fab.fa-instagram
          | INSTAGRAM
      li.socials-item.gg-icon
        a.select(href='')
          i.fab.fa-google-plus
          | GOOGLE+
      li.socials-item.wf-icon
        a.select(href='')
          i.fas.fa-wifi
          | PINTEREST
      li.socials-item.lk-icon
        a.select(href='')
          i.fab.fa-linkedin
          | LINKIDN

section.abouts
  .container-abouts
    .abouts__all
      .about
        h3.about__we1 VỀ CHÚNG TÔI
        img.img_arrow(src='../Frgia-Proj1-Madala/img/home/01_Home_44.jpg')
        .about__descript1
          p.header-logo
            span M
            | andala
          p.tit__gt GIỚI THIỆU CHUNG VỀ MỸ PHẨM HANDMADE MANDALA
          p.tit__gt--all
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
            | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời
            | hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau
            | đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
            | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
        .about__them
          p Xem thêm
      .about
        h3.about__we2 BLOG
        img.img_arrow(src='../Frgia-Proj1-Madala/img/home/01_Home_44.jpg')
        .about__descript2
          img(src='../Frgia-Proj1-Madala/img/home/Layer 69 copy.png')
          p.tit__gt2 Review son kem Bourjois Velvet
          p.tit__gt2--all
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
            | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
          p.tit__gt2--day Bởi NamTran (27/05/2015)
        .about__them2
          p.about__them2--read Đọc thêm 
          p.about__them2--bl 23 Bình luận
      .about
        h3.about__we3 GỬI MAIL CHO CHÚNG TÔI
        img.img_arrow(src='../Frgia-Proj1-Madala/img/home/01_Home_44.jpg')
        .about__descript3
          input(placeholder='Email của bạn')
          p Gửi email để nhận những ưu đãi mới nhất
          button Gửi
        .about
          h3.about__we4 TAG SẢN PHẨM
          img.img_arrow(src='../Frgia-Proj1-Madala/img/home/01_Home_44.jpg')
          .about__them3
            button.btn1 Đồng hồ
            button.btn2 Túi
            button.btn3 Phụ kiện
            button.btn4 Đồng hồ
            button.btn5 Túi
            button.btn6 Giày
            button.btn7 Sandal
            button.btn8 Áo sơ mi
            button.btn9 Nước hoa
            button.btn10 Giày
            button.btn11 Sandal
            button.btn12 Trẻ em
            button.btn13 Thời trang nữ
            button.btn14 Trẻ em
            button.btn15 Thời trang nữ
include footer
