include header

.container-link
  .link-intro
    a Home 
    i.fas.fa-angle-right
    a.cl-green Blog
.container-blog
  h2
    a(href='blog-detail.html') BLOG
  .list-content__head
    .list-content__head--select
      a(href='product.html')
        i.fas.fa-th-large
      a(href='product-col.html')
        i.fa.fa-list-ul
    .list-content__head--select__num
      i.fa.fa-caret-left
      span 1
      span 2
      span 3
      i.fa.fa-caret-right
  .blog__body
    .blog__all
      .item
        img.blog-body__img(src='../Frgia-Proj1-Madala/img/home/1.jpg')
        h3.blog-body__title Review son kem Bourjois Velvet
        .blog-body__text
          p
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
            | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
          p.blog-body__text--select Bởi Nam Trần (27/5/2016)
        .blog-body__footer
          p Đọc thêm
          p.blog-body__footer--select 23 Bình luận
      .item
        img.blog-body__img(src='../Frgia-Proj1-Madala/img/home/2.jpg')
        h3.blog-body__title Review son kem Bourjois Velvet
        .blog-body__text
          p
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
            | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
          p.blog-body__text--select Bởi Nam Trần (27/5/2016)
        .blog-body__footer
          p Đọc thêm
          p.blog-body__footer--select 23 Bình luận
      .item
        img.blog-body__img(src='../Frgia-Proj1-Madala/img/home/3.jpg')
        h3.blog-body__title Review son kem Bourjois Velvet
        .blog-body__text
          p
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
            | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải.
          p.blog-body__text--select Bởi Nam Trần (27/5/2016)
        .blog-body__footer
          p Đọc thêm
          p.blog-body__footer--selected 23 Bình luận
      .item
        img.blog-body__img(src='../Frgia-Proj1-Madala/img/home/4.jpg')
        h3.blog-body__title Review son kem Bourjois Velvet
        .blog-body__text
          p
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
            | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
          p.blog-body__text--select Bởi Nam Trần (27/5/2016)
        .blog-body__footer
          p Đọc thêm
          p.blog-body__footer--select 23 Bình luận
      .item
        img.blog-body__img(src='../Frgia-Proj1-Madala/img/home/5.jpg')
        h3.blog-body__title Review son kem Bourjois Velvet
        .blog-body__text
          p
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
            | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
          p.blog-body__text--select Bởi Nam Trần (27/5/2016)
        .blog-body__footer
          p Đọc thêm
          p.blog-body__footer--select 23 Bình luận
      .item
        img.blog-body__img(src='../Frgia-Proj1-Madala/img/home/6.jpg')
        h3.blog-body__title Review son kem Bourjois Velvet
        .blog-body__text
          p
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
            | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải.
          p.blog-body__text--select Bởi Nam Trần (27/5/2016)
        .blog-body__footer
          p Đọc thêm
          p.blog-body__footer--selected 23 Bình luận
      .item
        img.blog-body__img(src='../Frgia-Proj1-Madala/img/home/2.jpg')
        h3.blog-body__title Review son kem Bourjois Velvet
        .blog-body__text
          p
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
            | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
          p.blog-body__text--select Bởi Nam Trần (27/5/2016)
        .blog-body__footer
          p Đọc thêm
          p.blog-body__footer--select 23 Bình luận
      .item
        img.blog-body__img(src='../Frgia-Proj1-Madala/img/home/6.jpg')
        h3.blog-body__title Review son kem Bourjois Velvet
        .blog-body__text
          p
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
            | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
          p.blog-body__text--select Bởi Nam Trần (27/5/2016)
        .blog-body__footer
          p Đọc thêm
          p.blog-body__footer--select 23 Bình luận
      .item
        img.blog-body__img(src='../Frgia-Proj1-Madala/img/home/4.jpg')
        h3.blog-body__title Review son kem Bourjois Velvet
        .blog-body__text
          p
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày
            | đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải.
          p.blog-body__text--select Bởi Nam Trần (27/5/2016)
        .blog-body__footer
          p Đọc thêm
          p.blog-body__footer--selected 23 Bình luận
  .list-content__head
    .list-content__head--select
      a(href='product.html')
        i.fas.fa-th-large
      a(href='product-col.html')
        i.fa.fa-list-ul
    .list-content__head--select__num
      i.fa.fa-caret-left
      span 1
      span 2
      span 3
      i.fa.fa-caret-right


include footer
