include header

.container-linkS
  .link-introS
    a Home 
    i.fas.fa-angle-right
    a Sản phẩm
    i.fas.fa-angle-right
    a.cl-green Trang sức
.img__banner
  img(src='../Frgia-Proj1-Madala/img/home/banner-page.png', alt='')
.container-grids
  .grid__all
    .grid__left
      .grid__left__item
        h3.grid__left__item__header
          i.fa.fa-bars
          | Danh mục sản phẩm
        .grid__left__item__body
          .list
            ul
              li Mỹ phẩm
            i.fas.fa-caret-right.select
          .list
            ul
              li Trang sức
            i.fas.fa-caret-right.selecteed
          .list
            ul
              li Phụ kiện
            i.fas.fa-caret-right.select
          .list
            ul
              li Nước hoa
            i.fas.fa-caret-right.selecteed
      .grid__left__item
        h3.grid__left__item__header.select-tit So sánh sản phẩm
        .grid__left__item__body
          p.grid__left--select Bạn chưa có sản phẩm nào để so sánh
      .grid__left__item
        h3.grid__left__item__header Tag sản phẩm
        .grid__left__item__body
          .about__them3
            button.btn1 Đồng hồ
            button.btn2 Túi
            button.btn3 Phụ kiện
            button.btn4 Đồng hồ
            button.btn5 Túi
            button.btn6 Giày
            button.btn7 Sandal
            button.btn8 Áo sơ mi
            button.btn9 Nước hoa
      img.grid__left__banner(src='../Frgia-Proj1-Madala/img/home/04_Gird_03.jpg')
    .grid__right
      .list-content__head
        .list-content__head--select
          a(href='product.html')
            i.fas.fa-th-large
          a(href='product-col.html')
            i.fa.fa-list-ul
        .list-content__head--select__num
          i.fa.fa-caret-left
          span 1
          span 2
          span 3
          i.fa.fa-caret-right
      .list-sp
        .sp__grid
          .sp__grid__all--one
            img.prod__img5(src='../Frgia-Proj1-Madala/img/home/01_Home_38.jpg')
            .sp__detail__select1
              .sp_detail__type1 TYFFTNY
              .sp__detail__name Mỹ phẩm châu Âu
              p.under1 _____
              .sp__detail__price
                p.price__tit1 355000$
          // product: is selected
          .sp__grid__all--three
            img(src='../Frgia-Proj1-Madala/img/home/01_Home_32.jpg')
            .sp__detail__select3
              .sp__detail__type1 HOME
              .sp__detail__name Mỹ phẩm châu Âu
              p.under3 _____
              .sp__detail__price
                .price__all
                  p.price__tit 355000$
                  p.pri__tit--select 450000$
              .sp__detail__button
                button MUA HÀNG
                button.icons__select
                  i.fa.fa-heart
                button
                  i.fa.fa-refresh
          .sp__grid__all--four
            img.prod__img(src='../Frgia-Proj1-Madala/img/home/01_Home_35.jpg')
            .sp__detail__select2
              .sp__detail__type1 DEBORA
              .sp__detail__name Mỹ phẩm châu Âu
              p.under2 _____
              .sp__detail__price
                p.price__tit2 355000$
          .sp__grid__all--five
            img.prod__img(src='../Frgia-Proj1-Madala/img/home/01_Home_38.jpg')
            .sp__detail__select4
              .sp__detail__type1 SARVON
              .sp__detail__name Mỹ phẩm châu Âu
              p.under4 _____
              .sp__detail__price
                p.price__tit 355000$
          .sp__grid__all--three
            img(src='../Frgia-Proj1-Madala/img/home/01_Home_32.jpg')
            .sp__detail__select3
              .sp__detail__type1 HOME
              .sp__detail__name Mỹ phẩm châu Âu
              p.under3 _____
              .sp__detail__price
                .price__all
                  p.price__tit 355000$
                  p.pri__tit--select 450000$
              .sp__detail__button
                button MUA HÀNG
                button.icons__select
                  i.fa.fa-heart
                button
                  i.fa.fa-refresh
          .sp__grid__all--two
            img.prod__img5(src='../Frgia-Proj1-Madala/img/home/01_Home_35.jpg')
            .sp__detail__select5
              .sp__detail__type1 OHUI
              .sp__detail__name Mỹ phẩm châu Âu
              p.under5 _____
              .sp__detail__price
                p.price__tit5 355000$
      .list-content__head2
        .list-content__head2--select
          a(href='product.html')
            i.fas.fa-th-large
          a(href='product-col.html')
            i.fa.fa-list-ul
        .list-content__head2--select__num
          i.fa.fa-caret-left
          span 1
          span 2
          span 3
          i.fa.fa-caret-right


include footer
