// ==========================================================================
// color primary
// ==========================================================================
$green: #28a745;
$green_button:#789629;
$green-border:#78973c;
$yellow: #e3ce33;
$purple: #6f42c1;
$red: #dc3545;
$purple-lighter: #403351;
$grey:#cbd3df;
$blue-sky:#88d8da;
$blue-ocean:#125688;
$pink:#f49ac2;
$grey:#ccc;
$sliver: #f1f1f1;
$white:white;
$black:black;

//background
$color-background: #fff;
//banner
$background-banner:#afb2b7;

// ==========================================================================
// color icon
// ==========================================================================
$color-icon: (
        fa:red,
        twitter:#55ACEE,
        google:#dd4b39,
        linkedin:#007bb5,
        youtube:#bb0000,
        intagram:#125688,
);

//table
$color-table:#eeeeee;
