@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu");
.content_header {
  z-index: 999;
  height: 12vh;
  position: absolute;
  background: transparent;
  top: 0;
  width: 100%;
  /*responsive*/
}
@media screen and (max-width: 600px) {
  .content_header .header {
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }
  .content_header .header .header-logo {
    margin-left: 215px;
  }
  .content_header .header .header__prim {
    display: flex;
    justify-content: space-evenly;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    white-space: nowrap;
  }
  .content_header .header .header__prim li {
    padding: 20px;
    list-style: none;
  }
  .content_header .header .header__prim li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 10px;
    margin-left: -37px;
  }
  .content_header .header .header__prim li:hover .menu-prod {
    visibility: visible;
  }
  .content_header .header .header__right {
    margin-left: 235px;
  }
  .content_header .header button {
    margin-top: -31px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.header-logo {
  margin-left: 80px;
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
}
.header-logo span {
  border-radius: 100%;
  background: #789629;
  padding: 10px;
  color: white;
}
.header__prim {
  display: flex;
  justify-content: space-evenly;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  white-space: nowrap;
  /** menu product**/
}
.header__prim li {
  padding: 20px;
  list-style: none;
}
.header__prim li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.header__prim li:hover .menu-prod {
  visibility: visible;
}
.header__prim__prod {
  position: relative;
}
.header__prim__prod .menu-prod {
  visibility: hidden;
  position: absolute;
  left: -150%;
  top: 45px;
  display: flex;
  background: white;
  border: solid 2px #78973c;
}
.header__prim__prod .menu-prod:before {
  position: absolute;
  top: -11px;
  left: 35%;
  width: 0;
  height: 0;
  content: "";
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 8px solid #28a745;
}
.header__prim__prod .menu-prod:after {
  position: absolute;
  top: -20px;
  left: 30%;
  z-index: 999;
}
.header__prim__prod .menu-prod__item {
  padding: 50px 50px 20px 50px;
  white-space: nowrap;
}
.header__prim__prod .menu-prod__item__title {
  margin-top: -30px;
  border-bottom: solid 1px #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 50%;
  font-size: 15px;
  font-weight: bold;
}
.header__prim__prod .menu-prod__item__list p {
  font-size: 12px;
  font-weight: 400;
}
.header__right {
  display: flex;
  position: relative;
  /**menu cart**/
}
.header__right button {
  padding: 23px;
  border: solid transparent 0px;
  background: transparent;
}
.header__right button i {
  font-size: 14px;
  color: black;
}
.header__right button:hover .cart {
  visibility: visible;
}
.header__right .cart {
  visibility: hidden;
  position: absolute;
  top: 60px;
  left: -50%;
  padding: 0 20px;
  border: solid 2px #78973c;
  background: white;
}
.header__right .cart .list__item {
  border-bottom: solid 1px #ccc;
}
.header__right .cart__item {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.header__right .cart__item__img {
  width: 60px;
  height: 70px;
}
.header__right .cart__item__descript__name {
  font-size: 12px;
  font-weight: 500;
  margin-left: 20px;
  padding-right: 20px;
}
.header__right .cart__item__descript__price {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  color: #28a745;
  font-family: "Open Sans", sans-serif;
  padding-right: 20px;
}
.header__right .cart__sum-price {
  text-align: left;
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.header__right .cart__sum-price span {
  float: right;
  color: green;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.header__right .cart__button {
  float: left;
  background: black;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  padding: 4px 10px;
}
.header__right .cart:before {
  position: absolute;
  top: -11px;
  width: 0;
  height: 0;
  content: "";
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 8px solid #28a745;
}

/*# sourceMappingURL=header.css.map */
